.container{
 display: flex;
 flex-direction: column;
 width: 800px;
 margin:30px auto;

}


.containerHead {
    display: flex;
    margin:auto;
}

.containerHead .input{
    width: 200px;
    height:35px;
    padding:5px;
    border-radius: 4px;
    border: 1px solid #7159c1;
    margin-right:10px;
}

.containerHead .btn{
    border:none;
    background: #7159c1;
    border-radius: 10px;  
    color:#fff;
    font-weight: bold;
    width: 100px;
}

.containerBody {
    display: flex;
    margin: auto;
    width: 400px;
    flex-direction: column;
    padding:30px;
    border-radius: 4px;
    border:1px solid #7159c1
}

.containerBody h3{
    font-size: 14px;
    color: #7159c1;
}